<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section class="overflow-hidden bg-gray-50 sm:items-center">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h2 class="text-2xl font-bold text-gray-900 md:text-3xl" id="features">
          Add your sources, train the AI, generate your newsletter
        </h2>
  
        <p class="hidden text-gray-500 md:mt-4 md:block">
          The AI will learn from the articles you like and read. It will then start suggesting
          articles that you can add to your next newsletter issue in 2 clicks.
        </p>
  
        <div class="mt-4 md:mt-8">
          <a
            href="https://app.researca.com/accounts/signup/"
            class="inline-block rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-yellow-400"
          >
            Get Started Today
          </a>
        </div>
      </div>
    </div>
  </section>