<details class="group [&_summary::-webkit-details-marker]:hidden" open>
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">🚀 What are the usecase recommended for Researca?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      The most common usecases are:
      <ul class="list-disc ml-10 text-gray-700">
        <li>Finding fresh content and generating newsletter issues for your SMBs</li>
        <li>Staying up-to-date on the latest news for tech workers</li>
        <li>Show your potential clients that you are an expert in your domain</li>
      </ul>
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">😥 How do I cancel my subscription?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      You cancel it, once you are connected to the app, by clicking on the credit card icon on the bottom left corner.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">💳 Is the subscription commitment-free?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Yes, you can cancel your subscription any time, if you cancel it, you go back to the free tier 
      and can keep using the free tier features.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">💡 Can I test for free?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Yes currently, the starter fee is not collected, so you can test freely without any credit card. 
      You can even generate 2 newsletter issues for free before subscribing.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">⚙️ What is under the hood?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Under the hood, researca is composed of a RSS feed aggregator to collect the news and blog articles. 
      On top of that, we built our own recommendation and scoring engine to ensure you get fast to the most pertinent news.
      And finally, using latest LLM technologies we make the content generation smooth.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">🆘 Can I start on my own?</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Yes! Most of our users are starting and generating there newsletters 100% on their own. If you're a
      big organization feel free to ask for some support to get the machine running.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">📰 I want to add a website but I can't find its rss feed.</h2>

      <svg
        class="size-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-gray-700">
      Sometimes the rss feed is not easy to find but here are some tips:
      <ul class="mt-4 px-12 leading-relaxed text-gray-700">
        <li>- If it's a wordpress site, you can add /feed at the end of the URL</li>
        <li>- If it's a substack newsletter, you can add /feed at the end of the URL</li>
        <li>- For most press websites you will find the rss icon</li>
        <li>- Some websites don't offer rss feeds, but there are other solutions, <span class="font-bold">book a call with us to find out.</span></li>
      </ul>
    </p>
  </details>