 <!-- Features-->
 <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 ">

        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 shadow-lg">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
                <div>
                <img
                        src="./assets/add_to_issue.gif"
                        class="rounded"
                        alt=""
                />
                </div>
                <div>
                <div class="max-w-lg md:max-w-none">
                    <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
                    Discover, Read, Add to your newsletter
                    </h2>
        
                    <p class="mt-4 text-gray-700">
                    Any article you read on Researca can be added to your newsletter, we will use this
                    to train ou AI and place on top of your feed articles that you will probably like.
                    </p>
                </div>
                </div>
            </div>
        </div>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 px-16 py-8 md:items-center md:gap-8 shadow-lg mt-20">
        <div>
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Any URL you find can be added to your newsletter
            </h2>
  
            <p class="mt-4 text-gray-700">
              Sometimes you will find cool ressources outside of Researca. But no worries, you're covered.
              Any article you read on your browser can be added to Researca using the browser extension.
            </p>
          </div>
        </div>
  
        <div>
          <img
            src="./assets/extension.png"
            class="rounded"
            alt=""
          />
        </div>
      </div>

      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 shadow-lg mt-20">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
            <div>
            <img
                    src="./assets/output.png"
                    class="rounded"
                    alt=""
            />
            </div>
            <div>
            <div class="max-w-lg md:max-w-none">
                <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
                And finally, export your newsletter issue
                </h2>
    
                <p class="mt-4 text-gray-700">
                You can export your newsletter in markdown a format handled by most newsletter services.
                You can also import it in notion for final adjustments.
                </p>
            </div>
            </div>
        </div>
    </div>
    </div>
  </section>