<!--
      HERO PART
      -->
      <section class="bg-gray-900 text-white relative">
        <div class="relative mx-auto max-w-screen-xl px-4 py-16 lg:flex lg:h-screen">
          <div class="mx-auto max-w-3xl text-center">
            <p class="green-500">Newsletter AI assistant</p>
            <h1
              class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
            >
              Generate your newsletter
              <span class="sm:block"> With our AI assistant. </span>
            </h1>
            <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
              Use our AI assistant, to save time, generate quality content and supercharge your newsletter
            </p>
            <div class="mt-8 flex flex-wrap justify-center gap-4">
              <a
                class="block w-full rounded border border-green-500 bg-green-500 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
                href="https://app.researca.com/accounts/signup/"
              >
                Get Started
              </a>
              <a
                class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
                href="#features"
              >
                Learn More
              </a>
            </div>
            <div class="bg-white shadow-md rounded-lg p-4 flex items-start space-x-4 mt-8">
              <!-- Icon -->
              <div class="text-green-500 text-3xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 5H9M7 9h10m2 4H7m-2 4h14"></path>
                </svg>
              </div>
              <!-- Content -->
              <div class="text-left">
                <p class="text-gray-700 text-lg italic">
                  "Finally a way to streamline newsletter work for my clients"
                </p>
                <p class="mt-4 text-gray-900 font-bold inline">Philippe Taquin</p>
                <p class="text-gray-500 text-sm inline">&mdash; Freelance Marketing & SEO specialist</p>
              </div>
            </div>
          </div>
          <div class="absolute inset-x-0 sm:bottom-[-80%] md:bottom-[-80%] lg:bottom-[-10%] flex justify-center z-10">
            <!-- Video Container -->
            <div class="relative w-3/4 max-w-4xl shadow-2xl rounded-lg">
              <!-- Thumbnail Section -->
              <div id="thumbnail" class="relative cursor-pointer">
                <img 
                  src="./assets/home_page_3.jpg" 
                  alt="App Screenshot" 
                  class="w-full rounded-lg transform hover:scale-105 transition-transform duration-300"
                />
                <div 
                  class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 rounded-lg">
                  <div 
                    class="w-16 h-16 bg-black bg-opacity-60 rounded-full flex items-center justify-center">
                    <div 
                      class="w-0 h-0 border-l-[12px] border-l-white border-t-[8px] border-t-transparent border-b-[8px] border-b-transparent"></div>
                  </div>
                </div>
              </div>
              <!-- Loom Video Section -->
              <iframe 
                id="loomVideo" 
                class="block hidden w-full h-[210px] md:h-[345px] lg:h-[555px] rounded-lg" 
                src="https://www.loom.com/embed/bff12f6ad83448c2ad68dc51ae94c295?sid=9a66725c-e700-451b-b183-0b0cc9922dc1?hideEmbedTopBar=true&autoplay=0" 
                frameborder="0" 
                allow="autoplay;fullscreen" 
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
       
      </section>