      <!-- Problem Section -->
      <section class="flex items-center justify-center min-h-screen bg-gray-100 overflow-hidden bg-gray-50 w-full md:pt-96 lg:pt-2 mt-32">
        <div class="container mx-auto px-6 text-center">
          <!-- Header -->
          <div class="mb-8">
            <span class="bg-pink-100 text-pink-600 uppercase font-bold px-3 py-1 rounded text-xs">
              The Problem
            </span>
            <h2 class="text-3xl font-bold text-gray-800 mt-4">Newsletters are a really good way of showing your expertise, but...</h2>
          </div>
          <!-- Problem Boxes -->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Box 1 -->
            <div class="p-6 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center">
              <div class="mb-4">
                <img
                  src="https://img.icons8.com/ios-filled/50/error--v1.png"
                  alt="icon"
                  class="h-12 w-12"
                />
              </div>
              <p class="text-gray-600 text-sm leading-relaxed">
                It's  
                <span class="font-bold text-pink-600">time consumming</span>
                and you do it for the long run.
              </p>
            </div>
            <!-- Box 2 -->
            <div class="p-6 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center">
              <div class="mb-4">
                <img
                  src="https://img.icons8.com/ios-filled/50/sad.png"
                  alt="icon"
                  class="h-12 w-12"
                />
              </div>
              <p class="text-gray-600 text-sm leading-relaxed">
                Doing <span class="font-bold text-pink-600">research is the hardest part</span>, especially if you have several newsletter for different clients targets
              </p>
            </div>
            <!-- Box 3 -->
            <div class="p-6 bg-gray-50 rounded-lg shadow-sm flex flex-col items-center">
              <div class="mb-4">
                <img
                  src="https://img.icons8.com/ios-filled/50/boring.png"
                  alt="icon"
                  class="h-12 w-12"
                />
              </div>
              <p class="text-gray-600 text-sm leading-relaxed">
                You always have to double check to <span class="font-bold text-pink-600">ensure you are sending quality, different, and fresh content</span>
                even if it means double checking every thing.
              </p>
            </div>
          </div>
          <!-- Footer Text -->
          <div class="mt-8">
            <p class="text-gray-500 text-sm">
              Yet curation or digest newsletters are a very efficient marketing solution.
            </p>
          </div>
        </div>
      </section>