<section class="flex items-center justify-center bg-gray-100 overflow-hidden bg-gray-50 w-full pb-36">
      
    <div class="text-center">
      <h2 class="text-2xl font-bold mb-8">Usecases</h2>
      <div class="text-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Box 1 -->
          <div class="bg-white shadow-lg rounded-lg p-6 w-80">
            <h3 class="text-lg font-semibold mb-2">You're a content creator</h3>
            <p class="text-gray-600">You want to spend less time building your digest newsletter while keeping 
              <span class="font-bold">high quality standards</span></p>
          </div>
          <!-- Box 2 -->
          <div class="bg-white shadow-lg rounded-lg p-6 w-80">
            <h3 class="text-lg font-semibold mb-2">You're an agency</h3>
            <p class="text-gray-600">Share your knowledge with your clients to show you are an <span class="font-bold">expert in your field</span></p>
          </div>
          <!-- Box 2 -->
          <div class="bg-white shadow-lg rounded-lg p-6 w-80">
            <h3 class="text-lg font-semibold mb-2">You're a freelancer</h3>
            <p class="text-gray-600">Signing clients can be a long process, <span class="font-bold">keep your leads hot</span> by sending some interesting articles</p>
          </div>
          <!-- Box 2 -->
          <div class="bg-white shadow-lg rounded-lg p-6 w-80">
            <h3 class="text-lg font-semibold mb-2">You're a tech worker</h3>
            <p class="text-gray-600">You need to <span class="font-bold">stay up-to-date on the latest trends</span> and versions of software.</p>
          </div>
        </div>
      </div>
    </div>
  </section>